<div class="form-group input-select roll-bonuses">
    <label>{{localize 'ckl-roll-bonuses.spells.schoolClOffset'}}</label>
    <div class="form-fields">
        <input type="text" class="formula" value="{{formula}}" id="school-cl-offset-formula"
            placeholder="{{localize PF1.Formula}}" />
        <select name="school" id="school-cl-offset">
            {{#select school}}
            {{#each spellSchools as |name sch|}}
            <option value="{{sch}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
